<html lang="{{ site.lang | default: page.lang | default: 'en' }}">
  {% include head.html %}

  <body>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad3 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8531706274569030"
     data-ad-slot="5433000361"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-8531706274569030"
     data-ad-slot="4085734450"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <main class="b-py25 m-b0" aria-label="content">
    {{ content }}
  </main>

  {% include footer.html %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-8531706274569030"
     data-ad-slot="4085734450"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  {% include google-analytics.html %}
  </body>
</html>
